#**Repetition**

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for a in range(101):
  print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for i in range(10):
  var = input("Enter base: ")
  print(int(var)**2)

Enter base: 10
100
Enter base: 2
4
Enter base: 3
9
Enter base: 4
16
Enter base: 6
36
Enter base: 7
49
Enter base: 8
64
Enter base: 9
81
Enter base: 6
36
Enter base: 8
64

In [ ]:
total = 0
for i in range(4):
  total = total + float(input("Enter a number: "))
avg = total / 4
print("Average: " + str(avg))

Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 6
Average: 4.5

Write some Python code that does the below 10 times:
Asks the user for a base and an exponent, and then shows the
result of the base to the power of the exponent.


Now, just a quick update. Instead of repeating this 10 times ask the
user how many times heâ€™d like to repeat beforehand

In [ ]:
for i in range(10):
  var1 = int(input("Enter the base: "))
  var2 = int(input("Enter the exponent: "))
  pow=var1**var2
  print(pow)

Enter the base: 1
Enter the exponent: 2
1
Enter the base: 3
Enter the exponent: 3
27
Enter the base: 4
Enter the exponent: 5
1024
Enter the base: 7
Enter the exponent: 3
343
Enter the base: 8
Enter the exponent: 3
512
Enter the base: 10
Enter the exponent: 3
1000
Enter the base: 4
Enter the exponent: 2
16
Enter the base: 6
Enter the exponent: 2
36
Enter the base: 7
Enter the exponent: 2
49
Enter the base: 100
Enter the exponent: 2
10000

In [ ]:
n = int(input("How many times to be repeated: "))
for i in range(n):
  var1 = int(input("Enter the base: "))
  var2 = int(input("Enter the exponent: "))
  pow=var1**var2
  print(pow)

How many times to be repeated: 8
Enter the base: 1
Enter the exponent: 2
1
Enter the base: 3
Enter the exponent: 6
729
Enter the base: 9
Enter the exponent: 8
43046721
Enter the base: 10
Enter the exponent: 100
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
Enter the base: 11
Enter the exponent: 11
285311670611
Enter the base: 12
Enter the exponent: 2
144
Enter the base: 11
Enter the exponent: 2
121
Enter the base: 5
Enter the exponent: 3
125

Write a function that reads 10 integers
from the user, and then prints on the
screen the highest of these.

In [ ]:
def high(n):
  lst=[]
  for i in range(n):
    var1= int(input("Enter a number: "))
    lst.append(var1)

  max = lst[0]
  for j in lst:
    if j > max:
      max=j
  return max

high(4)

Enter a number: 1
Enter a number: 2
Enter a number: 8
Enter a number: 10

10

Write a function that reads 3 numbers
from the user and print the number
repeats most times.For instance, if the
user inputs 5, 5, 7, the function should
print 5 on the screen

In [ ]:
def read_numbers(n1,n2,n3):
 lst= int(input("Enter a number: "))
 for x in range(0,lst):
  if lst.count(x)>1:
    print(x)

In [ ]:
read_numbers(5,5,7)

Enter a number: 5

AttributeError: ignored

Write a function called **get_circle_perimeter** with one argument (radius).

This function should return the perimeter of a circle

In [ ]:
import math
def get_circle_perimeter(radius):
  perimeter = 2*math.pi*radius
  return perimeter

In [ ]:
get_circle_perimeter(10)

62.83185307179586

In [ ]:
def fahrenheit_to_celsius(i):
  calculation = (5/9)* (i-32)
  return calculation
for i in range(1,101):
  print(i,"Fahrenheit",round(fahrenheit_to_celsius(i),2),"celsius")

1 Fahrenheit -17.22 celsius
2 Fahrenheit -16.67 celsius
3 Fahrenheit -16.11 celsius
4 Fahrenheit -15.56 celsius
5 Fahrenheit -15.0 celsius
6 Fahrenheit -14.44 celsius
7 Fahrenheit -13.89 celsius
8 Fahrenheit -13.33 celsius
9 Fahrenheit -12.78 celsius
10 Fahrenheit -12.22 celsius
11 Fahrenheit -11.67 celsius
12 Fahrenheit -11.11 celsius
13 Fahrenheit -10.56 celsius
14 Fahrenheit -10.0 celsius
15 Fahrenheit -9.44 celsius
16 Fahrenheit -8.89 celsius
17 Fahrenheit -8.33 celsius
18 Fahrenheit -7.78 celsius
19 Fahrenheit -7.22 celsius
20 Fahrenheit -6.67 celsius
21 Fahrenheit -6.11 celsius
22 Fahrenheit -5.56 celsius
23 Fahrenheit -5.0 celsius
24 Fahrenheit -4.44 celsius
25 Fahrenheit -3.89 celsius
26 Fahrenheit -3.33 celsius
27 Fahrenheit -2.78 celsius
28 Fahrenheit -2.22 celsius
29 Fahrenheit -1.67 celsius
30 Fahrenheit -1.11 celsius
31 Fahrenheit -0.56 celsius
32 Fahrenheit 0.0 celsius
33 Fahrenheit 0.56 celsius
34 Fahrenheit 1.11 celsius
35 Fahrenheit 1.67 celsius
36 Fahrenheit 2.22 celsius
37 Fahrenheit 2.78 celsius
38 Fahrenheit 3.33 celsius
39 Fahrenheit 3.89 celsius
40 Fahrenheit 4.44 celsius
41 Fahrenheit 5.0 celsius
42 Fahrenheit 5.56 celsius
43 Fahrenheit 6.11 celsius
44 Fahrenheit 6.67 celsius
45 Fahrenheit 7.22 celsius
46 Fahrenheit 7.78 celsius
47 Fahrenheit 8.33 celsius
48 Fahrenheit 8.89 celsius
49 Fahrenheit 9.44 celsius
50 Fahrenheit 10.0 celsius
51 Fahrenheit 10.56 celsius
52 Fahrenheit 11.11 celsius
53 Fahrenheit 11.67 celsius
54 Fahrenheit 12.22 celsius
55 Fahrenheit 12.78 celsius
56 Fahrenheit 13.33 celsius
57 Fahrenheit 13.89 celsius
58 Fahrenheit 14.44 celsius
59 Fahrenheit 15.0 celsius
60 Fahrenheit 15.56 celsius
61 Fahrenheit 16.11 celsius
62 Fahrenheit 16.67 celsius
63 Fahrenheit 17.22 celsius
64 Fahrenheit 17.78 celsius
65 Fahrenheit 18.33 celsius
66 Fahrenheit 18.89 celsius
67 Fahrenheit 19.44 celsius
68 Fahrenheit 20.0 celsius
69 Fahrenheit 20.56 celsius
70 Fahrenheit 21.11 celsius
71 Fahrenheit 21.67 celsius
72 Fahrenheit 22.22 celsius
73 Fahrenheit 22.78 celsius
74 Fahrenheit 23.33 celsius
75 Fahrenheit 23.89 celsius
76 Fahrenheit 24.44 celsius
77 Fahrenheit 25.0 celsius
78 Fahrenheit 25.56 celsius
79 Fahrenheit 26.11 celsius
80 Fahrenheit 26.67 celsius
81 Fahrenheit 27.22 celsius
82 Fahrenheit 27.78 celsius
83 Fahrenheit 28.33 celsius
84 Fahrenheit 28.89 celsius
85 Fahrenheit 29.44 celsius
86 Fahrenheit 30.0 celsius
87 Fahrenheit 30.56 celsius
88 Fahrenheit 31.11 celsius
89 Fahrenheit 31.67 celsius
90 Fahrenheit 32.22 celsius
91 Fahrenheit 32.78 celsius
92 Fahrenheit 33.33 celsius
93 Fahrenheit 33.89 celsius
94 Fahrenheit 34.44 celsius
95 Fahrenheit 35.0 celsius
96 Fahrenheit 35.56 celsius
97 Fahrenheit 36.11 celsius
98 Fahrenheit 36.67 celsius
99 Fahrenheit 37.22 celsius
100 Fahrenheit 37.78 celsius

Write a Python function to sum all the numbers in a list.
Sample List : (8, 2, 3, 0, 7)
Expected Output : 20

In [ ]:

def sum_of_all_numbers(lst):
  s=0
  for i in lst:
    #s= s+int(i)
    print(i)
  return s
lst_val=list(int(input("Enter a number: ").strip().split()))
sum_of_all_numbers(lst_val)

Enter a number: 8, 2, 3, 0, 7

TypeError: ignored

Write a Python function that accepts a string and counts the number of upper and lower case letters.
Sample String : 'The quick Brow Fox'
Expected Output :
No. of Upper case characters : 3
No. of Lower case Characters : 12

In [ ]:
def str_val(s):
    u = sum(1 for i in s if i.isupper())
    l = sum(1 for i in s if i.islower())
    print("No. of Upper case characters : %s\nNo. of Lower case characters : %s" %(u,l))

str_val("The quick Brow Fox")

No. of Upper case characters : 3
No. of Lower case characters : 12

No. of Upper case characters : 3,No. of Lower case characters : 12

Write a Python function that takes a list and returns a new list with distinct elements from the first list.

Sample List : [1,2,3,3,3,3,4,5]

Unique List : [1, 2, 3, 4, 5]

In [ ]:
def unique(list1):
  unique_list = []
  for x in list1:
    if x not in unique_list:
      unique_list.append(x)
  for x in unique_list:
        print(x)

In [ ]:
unique([1,2,3,3,3,3,4,5])

1
2
3
4
5



```
Write a Python program to print the even numbers from a given list.
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
def even_numbers(list1):
  list2 = []
  print('list1', list1)
  for num in list1:
    if num % 2 == 0:
      list2.append(num)
  print(list2)


even_numbers([1,2,3,4,5,6,7,8,9])

list1 [1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]



```
Write a Python function that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.
Sample Items : green-red-yellow-black-white
Expected Result : black-green-red-white-yellow
```

In [ ]:
def hyphen_words(item):
  x = [x for x in input().strip().split("-")]
  x.sort()
  return x

green-red-yellow-black-white
black green red white yellow



```
Define a function that accepts 2 values and return its sum, subtraction and multiplication.
```

In [ ]:
def sum(a,b):
  addition = a + b
  return addition
def sub(a,b):
  sub = a - b
  return sub
def mult(a,b):
  mult = a * b
  return mult
def sum_sub_mult(a,b):
    addition = a + b
    sub = a - b
    mult = a * b
    print("The sum of two numbers is: ",addition)
    print("The substraction of two numbers is: ",sub)
    print("The multiplication of two numbers is: ",mult)
sum_sub_mult(10,10)

The sum of two numbers is:  20
The substraction of two numbers is:  0
The multiplication of two numbers is:  100

Write a function that inputs a number and prints the multiplication table of that number

In [ ]:
def mult_table(ix):
  for i in range(1,11):
    print(i,"X",ix, "= ", i*ix)


mult_table(9)

1 X 9 =  9
2 X 9 =  18
3 X 9 =  27
4 X 9 =  36
5 X 9 =  45
6 X 9 =  54
7 X 9 =  63
8 X 9 =  72
9 X 9 =  81
10 X 9 =  90



```
write a python function to reverse a string , take string as input
```

In [ ]:
def reversed_string(i):
  a = i[::-1]
  return a
reversed_string("Rishi")

'ihsiR'

```
write a Function to take a string list and concat them into single string

Input ['P','R', 'E", 'M']

outputÂ =Â PREM
```

In [ ]:
def concat_string(n):
  str1 = ""
  for i in n:
    print(i)
    print(type(i))
    str1 = str1 + i
  return str1



concat_string(["P","R","E","M"])

P
<class 'str'>
R
<class 'str'>
E
<class 'str'>
M
<class 'str'>

'PREM'

write a Function to take a integer list andÂ addÂ print
input [1,5,2,3]  ouputÂ =11

In [ ]:
def num_lst(n):
  add = 0
  for i in n:
    add = add + i
    #print(i)
  return add
num_lst([1,5,2,3])

11

write a Function to take a string list and concat them intoÂ singleÂ string
["My", "Name" , "is", "Prem"]     output My NameÂ isÂ Prem

In [ ]:
def string(n):
  str2 = ""
  for i in n:
    str2 = str2 + " " + i
    #print(str2)
  return str2
string(["My","Name","is","Prem"])

' My Name is Prem'

Write a Python function to multiply all the numbers in a list.
Sample List : (8, 2, 3, -1, 7)
ExpectedÂ OutputÂ :Â -336

In [ ]:
def mult(n):
  mult = 1
  for i in n:
    mult = mult * i
    #print(mult)
  return mult
mult([8,2,3,-1,7])

-336

write a function to print sqrt of a given number  input =Â 9Â Â outputÂ =3

In [ ]:
import math
def square(k):
  sqr= math.sqrt(k)
  #print(sqr)
  return int(sqr)
square(9)

3

write a single  function that take to integers a and b and printÂ a+bÂ andÂ a-b

In [ ]:
def add(a,b):
  return a+b,a-b
add(10,11)

(21, -1)

In [ ]:
def mult(a,b):
  return a*b,int(a/b)
mult(20,20)

(400, 1)

write a function with the same name that can take a,b or a,b,c and returnÂ a+bÂ Â orÂ a+b+c

In [ ]:
def add_nums_2(a,b,c):
  return a+b+c



def add_nums(a,b):
  return a+b


print("Three numbers: ",add_nums_2(1,2,3))
print("Two numbers: ",add_nums(1,2))
# print("Three numbers: ",add_nums_2(1,2,3,4)) # this will throw an error, We dont have a function with 4 input arguments

Three numbers:  6
Two numbers:  3

calculate the area of a circle

In [ ]:
import math
def area_of_circle(radius):
  area = math.pi * radius ** 2
  return area

print(round(area_of_circle(10),2))
area_of_circle(11)

314.16

380.132711084365

Write a function called get_circle_perimeter with one argument
(radius). This function should return the perimeterÂ ofÂ aÂ circle

In [ ]:
import math
def get_circle_perimeter(radius):
  perimeter = math.pi * radius
  return round(perimeter,2)
get_circle_perimeter(10)

31.42

Write a function called print_name that asks the user first for his first
name and then the surname. The function should print on the screen in
one line the surname, a comma and then a first name. If the inputs are
Prem and Kora it should appear on the screen:
Kora,Â Prem

In [ ]:
def print_name(first_name,surname):
  return surname,first_name
print(*print_name("Prem","Kora"))

Kora Prem

Write a function called print_circle_perandarea with one argument
(radius). This function should print the perimeter and the area of a
circle. This function should call the other functions you already wrote
(you should not write all the code in a singleÂ function!)

In [ ]:
import math
def calculate_circle_perimeter(radius):
    return 2 * math.pi * radius
def calculate_circle_area(radius):
    return math.pi * radius**2
def print_circle_perandarea(radius):
    perimeter = calculate_circle_perimeter(radius)
    area = calculate_circle_area(radius)
    print(f"Circle Perimeter with radius {radius}: {perimeter:.2f}")
    print(f"Circle Area with radius {radius}: {area:.2f}")
calculate_circle_perimeter(10)
calculate_circle_area(20)
print_circle_perandarea(30)

Circle Perimeter with radius 30: 188.50
Circle Area with radius 30: 2827.43

create a function to display list of all the even numbers and odd numbers . Now create a new function that will call even numbers and odd numbersÂ andÂ printÂ them

In [ ]:
def even_num(n):
  eve_num_new = []
  for i in n:
    if i % 2 == 0:
      eve_num_new.append(i)
  return eve_num_new
def odd_num(n):
  odd_num_new = []
  for i in n:
    if i % 2 != 0:
      odd_num_new.append(i)
  return odd_num_new
def evenandodd(n):
  even_numbers = even_num(n)
  odd_numbers  = odd_num(n)
  print(f"The even numbers are {even_numbers}")
  print(f"The odd numbers are {odd_numbers}")
even_num([1,2,3,4,5,6,7,8])
odd_num([1,2,3,4,5,6,7,8,9])
evenandodd([1,2,3,4,5,6,7,8,9])

The even numbers are [2, 4, 6, 8]
The odd numbers are [1, 3, 5, 7, 9]

Find the largest item from a givenÂ list
[3,5,8,1]  output=8

In [ ]:
def biggest_item(lst):
  c = max(lst)
  return c
biggest_item([3,5,8,1])

8

printing the squares of 10 numbers given by the user usingÂ aÂ function

In [ ]:
def sq_of_num():
  for i in range(1,10):
    sqr2 = input("Enter a number: ")
    sqr = int(sqr2) ** 2
    print(sqr)

sq_of_num()

Enter a number: 1
1
Enter a number: 1
1
Enter a number: 3
9
Enter a number: 7
49
Enter a number: 8
64
Enter a number: 9
81
Enter a number: 10
100
Enter a number: 11
121
Enter a number: 12
144

write a function to average of four numbers, Get 4 numbersÂ inÂ aÂ loop

input:
1
2
6
4

output:
3.25

In [ ]:
def aver_num():
  num_s = 0
  val = 0
  for i in range(1,5):
    val = val + 1
    aver1 = input("Enter your number: ")
    num_s = int(aver1) + num_s
  return num_s/val
aver_num()

Enter your number: 1
Enter your number: 2
Enter your number: 6
Enter your number: 4

3.25

Write some Python code that does the below 10 times:
Asks the user for a base and an exponent, and then shows the
result of the base to the power ofÂ theÂ exponent.

In [ ]:
def ten_times():

  for i in range(0,10):
    base = int(input("Enter a base: "))
    expo = int(input("enter a exponent: "))
    final = base ** expo
    #print(i)
    print(final)
ten_times()

Enter a base: 1
enter a exponent: 2
1
Enter a base: 2
enter a exponent: 3
8
Enter a base: 4
enter a exponent: 6
4096
Enter a base: 5
enter a exponent: 2
25
Enter a base: 6
enter a exponent: 6
46656
Enter a base: 3
enter a exponent: 2
9
Enter a base: 7
enter a exponent: 2
49
Enter a base: 8
enter a exponent: 3
512
Enter a base: 8
enter a exponent: 4
4096
Enter a base: 10
enter a exponent: 10
10000000000

Write a function called get_circle_perimeter with one argument (radius).

This function should return the perimeterÂ ofÂ aÂ circle

In [ ]:
import math
def get_circle_perimeter(radius):
  perimeter = 2 * math.pi * radius
  return round(perimeter,2)
get_circle_perimeter(10)

62.83

For a given number n, the series 1+2+3+...+n = n*(n+1)/2.
Write a function called summation(), such that:

1) it takes any positive number as input

2) converts the input to the nearest integer less than that (hint: you can use int())

3) returns the summation of the series using the formulaÂ providedÂ above

if it negative then return print("try a positiveÂ number")

In [ ]:
n= 5
sunme = 1+2+3+4+5
print(sunme)
sunme1= n*(n+1)/2
print(sunme1)

15
15.0

In [ ]:
def summation():
  n = input("Enter a number: ")
  z = int(n)
  sunme = z* (z + 1)/2
  return sunme
summation()

Enter a number: 5

15.0

Above sum using FOR loop

In [ ]:
def sum1(n_val):
  #print(n_val)
  int_val=0
  for i in range(1,int(n_val)+1):
    #print(i)
    int_val=i+int_val
  return int_val


sum1(5)

15

# ***LOOPS***



```
Write a code to get an integer N and print the even values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line.
```

In [ ]:
n = input("Enter a number: ")
lst = []
for i in range(1,len(n)+1):
  if i%2 != 0:
    lst.append(i)
  else:
    print("The even values are: ",i)
  #print(int(i))

Enter a number: 12345678
The even values are:  2
The even values are:  4
The even values are:  6
The even values are:  8



```
Write a code to get an integer N and print the sum of  values from 1 to N.

Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

Sample Input :
10
Sample Output :
55
```

In [ ]:
n = input("Enter a number: ")
s = 0
#print(type(n))
for i in range(1,len(n)+1):
  s = s + i
print(s)

Enter a number: 123
6



```
Write a code to get 2 integers as input and add the integers without any carry.

Input Description:
A single line containing 2 integers.

Output Description:
Print sum of the 2 integers without carry

Sample Input :
44 66
Sample Output :
0
```



```
Write a code to get an integer N and print values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from 1 to N in a separate line.

Sample Input :
5
Sample Output :
1
2
3
4
5
```

In [ ]:
n = input("Enter a number: ")
for i in range(1,int(n)+1):
  print(i)

Enter a number: 5
1
2
3
4
5



```
Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

Sample Input :
10
Sample Output :
10
9
8
7
6
5
4
3
```

In [ ]:
n = int(input("Enter a number: "))
for i in range(n,0,-2):
  print(i)

Enter a number: 10
10
8
6
4
2



```
Write a program to get a string as input and reverse the string without using temporary variable.

Input Description:
A single line containing a string.

Output Description:
Print the reversed string.

Sample Input :
GUVI
Sample Output :
IVUG
```

In [ ]:
n=input("Enter a string: ")
print(n[::-1])

Enter a string: GUVI
IVUG



```
Write a code to get a integer n as input and calculate the smallest perfect power of 2 greater than n.

Input Description:
A single line containing an integer,n.

Output Description:
Print the smallest perfect power of 2 greater than n.

Sample Input :
48
Sample Output :
64
```



```
Write a code to get an integer N and print the digits of the integer.

Input Description:
A single line contains an integer N.

Output Description:
Print the digits of the integer in a single line separated by space,

Sample Input :
348
Sample Output :
3 4 8
```

In [ ]:
n=int(input())
s=str(n)
for i in s:
    print(i,end=" ")

348
3 4 8



```
Write a code to get 2 integers A and N. Print the integer A, N times in separate line.

Input Description:
First line contains an integer A. Second line contains an Integer N.

Output Description:
Print the integer A, N times in a separate line.

Sample Input :
2 3
Sample Output :
2
2
2
```

In [ ]:
a = int(input())
n = int(input())
while n > 0:
    n -= 1
    if n == 3:
      break
    print(a)

2
3
2
2
2



```
Write a code to get the input and print it 5 times.

Input Description:
A single line contains an integer N.

Output Description:
Output contains 5 lines with each line having the value N.

Sample Input :
4
Sample Output :
4
4
4
4
4
```

In [ ]:
num1 = int(input("Enter an number: "))
for i in range(0,6):
  print(num1)

Enter an number: 5
5
5
5
5
5
5



```
Write a code get an integer number as input and print the sum of the digits.

Input Description:
A single line containing an integer.

Output Description:
Print the sum of the digits of the integer.

Sample Input :
124
Sample Output :
7
```

In [ ]:
num = input("Enter a number: ")
s = 1
for i in range(0,len(num)+1):
  s = int(s) + i
print(s)

Enter a number: 124
7



```
Write a code to get the input in the given format and print the output in the given format

Input Description:
To take an integer value

Output Description:
Print the integer value

Sample Input :
2
Sample Output :
2
```

Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains integers separated by space

Output Description:
Print the integer list of integers separated by space

Sample Input :
2 3 4 5 6 7 8
Sample Output :
2 3 4 5 6 7 8

Write a code to get the input in the given format and print the output in the given format.

Input Description:
First-line indicates two integers which are the size of array and 'K' value. Second-line indicates an integer contains elements of an array.

Output Description:
Print the taken input in the same format.

Sample Input :
5 3
1 2 3 4 5
Sample Output :
5 3
1 2 3 4 5



```
Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:
Print the input in the same format.

Sample Input :
2 4
2 4
2 4
Sample Output :
2 4
2 4
2 4
```



```
Write a code to get the input in the given format and print the output in the given format

Input Description:
Three integers are given in line by line.

Output Description:
Print the integers in a single line separate by space.

Sample Input :
2
4
5
Sample Output :
2 4 5
```



```

Share
Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:
Print the input in the same format.

Sample Input :
2 5
2 5 6
2 4 5
Sample Output :
2 5
2 5 6
2 4 5
```



```
Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by space.

Sample Input :
guvi
Sample Output :
g u v i
```



```
Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains three float values separated by space.

Output Description:
Print the float value separated by line.

Sample Input :
2.3 4.5 7.8
Sample Output :
2.3
4.5
7.8
```



```
Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by line.

Sample Input :
guvigeek
Sample Output :
g
u
v
i
g
e
e
k
```



```
Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by comma.

Sample Input :
guvi
Sample Output :
g,u,v,i
```